body {

}

table.dataTable thead th {
padding: 3px 7px;
}
table.dataTable thead td {
padding: 3px 7px;
}

table.dataTable  {
border-collapse:collapse;
}

#query {
	font-size: 12px;
	line-height: 14px;
	max-height: 70px;
	overflow-y: scroll;
}

#query-escape {
	font-size: 12px;
	line-height: 14px;
	max-height: 14px;
	overflow-y: scroll;
}